.header-bar-container {
  padding: 10px 10px;
}

.header-bar-container .menu-title {
  height: 100%;
  padding: 0 10px;
}

.header-bar-container a {
  border: none;
}

.header-bar-container .hamburger-nav-container {
  width: 50px;
}

.header-bar-container .header-bar-title {
  padding: 11px 0 0;
}

.header-bar-container .header-bar-title h4 {
  color: var(--border-primary);
  font-size: 1.2rem;
}
