.contact-container {
  padding: 20px 0;
}

.contact-container .contact-details-container {
  width: 100%;
  padding: 0 10px 10px;
}

.contact-container .contact-details-row {
  padding: 15px 0 0;
}

.contact-container .contact-details-title {
  text-decoration: underline;
}

.contact-container .contact-details-jn-link {
  border: none;
}
